{% load staticfiles %}
<ul class="layui-nav" >
  <li class="layui-nav-item">
    <a href="{% url 'article:article_titles' %}">博客首页<span class="layui-badge">9</span></a>
  </li>
  <li class="layui-nav-item">
    <a href="{% url 'account:my_information' %}">个人中心<span class="layui-badge-dot"></span></a>
  </li>
  <li class="layui-nav-item" lay-unselect="" style="float:right">
    <a class="username" href="javascript:;"><img id="avator" src="http://qnpic.top/yoona%5C%E7%85%A7%E7%89%87%202019-3-8%20%E4%B8%8A%E5%8D%8810%2001%2024.jpg" class="layui-nav-img">{{ request.user.username }}</a>
    <dl class="layui-nav-child">
      <dd><a href="{% url 'account:my_information' %}">个人信息</a></dd>
      <dd><a href="{% url 'account:edit_myself' %}">完善信息</a></dd>
      <dd><a href="{% url 'account:account_setpassword' %}">修改密码</a></dd>
      <dd><a href="{% url 'article:article_column' %}">后台管理</a></dd>
      <dd><a href="{% url 'account:account_logout' %}">退出登录</a></dd>
    </dl>
  </li>
</ul>

<script>

    layui.use('element', function(){
  		var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

  		//监听导航点击
  		element.on('nav(demo)', function(elem){
    	//console.log(elem)
    	layer.msg(elem.text());
  		});
	});

	$(function(){
	    username = $('.username').text();
	    $.ajax({
	        url: "{% url 'account:get_avator' %}",
	        type: 'POST',
	        data: {'username':username},
	        success: function(e){
	            res = JSON.parse(e);
	            console.log(res);
                if(res.static!=500){
                    $('#avator').attr('src',res.photo+'?'+Math.random());
                }else{
                    layer.msg(res.tips);
                }
	        }
	    })
	})


</script>

<!--<div class="container">-->
    <!--<nav class="navbar navbar-default" role="navigation">-->
        <!--<div class="container-fluid">-->
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="{% url 'blog:blog_list' %}"><img src="{% static '/images/LFBlog-logo.png' %}" width="100px"></a>-->
        <!--</div>-->
        <!--<div>-->
            <!--<ul class="nav navbar-nav navbar-right" style="margin-right:10px">-->
                <!--{% if username %}-->
                <!--<li>-->
                    <!--<div class="dropdown" style="margin-top:8px">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
					        <!--{{ username }}-->
					        <!--<b class="caret"></b>-->
				        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a href="{% url 'account:my_information' %}">个人信息</a></li>-->
                            <!--<li><a href="{% url 'account:edit_myself' %}">完善信息</a></li>-->
                            <!--<li><a href="{% url 'account:account_setpassword' %}">修改密码</a></li>-->
                            <!--<li><a href="{% url 'article:article_column' %}">后台管理</a></li>&lt;!&ndash;新增&ndash;&gt;-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li><a href="{% url 'account:account_logout' %}">Logout</a></li>-->
                <!--{% else %}-->
                <!--<li><a href="{% url 'account:account_login' %}">Login</a></li>-->
                <!--<li><a href="{% url 'account:account_register' %}">Sign up</a></li>-->
                <!--{% endif %}-->
            <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
    <!--</nav>-->
<!--</div>-->