{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}

{% block content %}


    <h1 style="margin:0 100px">{{ title }}</h1>
    <div class="layui-row" style="margin:0 5%;font-size:18px">

        <div class="layui-col-xs12 layui-col-md8">
            <div class="lay-row">
                <div class="layui-col-xs4 text-right">用户名:</div>
                <div class="layui-col-xs8 text-left">{{user.username}}</div>
            </div>

            <div class="layui-row">
                <div class="layui-col-xs4 text-right"><span>邮箱:</span></div>
                <div class="layui-col-xs8 text-left">{{user.email}}</div>
            </div>

            <div class="layui-row">
                <div class="layui-col-xs4 text-right"><span>毕业学校:</span></div>
                <div class="layui-col-xs8 text-left">{{userinfo.school}}</div>
            </div>

            <div class="layui-row">
                <div class="layui-col-xs4 text-right"><span>工作单位:</span></div>
                <div class="layui-col-xs8 text-left">{{userinfo.company}}</div>
            </div>

            <div class="layui-row">
                <div class="layui-col-xs4 text-right"><span>职业:</span></div>
                <div class="layui-col-xs8 text-left">{{userinfo.profession}}</div>
            </div>

            <div class="layui-row">
                <div class="layui-col-xs4 text-right"><span>地址:</span></div>
                <div class="layui-col-xs8 text-left">{{userinfo.address}}</div>
            </div>

            <div class="layui-row">
                <div class="layui-col-xs4 text-right"><span>个人介绍:</span></div>
                <div class="layui-col-xs8 text-left">{{userinfo.aboutme}}</div>
            </div>

        </div>

        <div class="layui-col-xs12 layui-col-md4" style="padding-left:100px">
            <div style="width:200px">
                {% if userinfo.photo %}
                <img src="/media/avator/{{ userinfo.photo | striptags }}" class="layui-circle" id="my_photo" style="width:200px;height:200px;padding-bottom:10px">
                {% else %}
                <img name="user_face" src="/media/avator/1554199336240.jpg" class="layui-circle" style="width:200px;height:200px;padding-bottom:10px" id="my_photo">
                {% endif %}
            </div>
        </div>
    </div>

<script>
    $(function(){
        $('#my_photo').attr('src',$('#my_photo').attr('src')+'?'+Math.random())
    })
</script>

{% endblock %}