{% extends "base.html" %}
{% load staticfiles %}
{% block title %}articles list{% endblock %}
{% block content %}

<div class="container" style="margin:20px 100px 0 100px">
    <div>
        <header>
            <h1 style="margin:20px 0">{{ article.title }}</h1>
            <p style="padding-left:10px"><a href="{% url 'account:author_info' article.author.username %}">{{ article.author.username }}</a></p>
        </header>

        <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}"/>
        <div id='editormd-view'>
        <textarea id="append-test" style="display:none;">
{{ article.body }}
        </textarea>
        </div>
    </div>
    <div style="text-align:center">
        <a href="#" onclick="is_like({{ article.id }},'like')"><span><i class="layui-icon layui-icon-praise"></i>like</span></a>
        <span style="display:inline-block;width:50px"></span>
        <a href="#" onclick="is_like({{ article.id }},'unlike')"><span><i class="layui-icon layui-icon-tread"></i>unlike</span></a>
    </div>
    <div style="text-align:center">
        <p><strong>点赞本文的读者</strong></p>
        {% for user in article.users_like.all %}
        <p><a href="{% url 'account:author_info' user.username %}">{{ user.username }}</a></p>
        {% empty %}
        <p>还没有人对此文表态</p>
        {% endfor %}
    </div>
    <div class="comment">
        <form action="" method="POST">{% csrf_token %}
        <div class="layui-form-label " style="height:80px">
            {% if request.session.username %}
            <img src="/media/avator/{{ request.session.username }}.jpg" class="layui-nav-img">
            {% else %}
            <img src="/media/avator/1554199539806.jpg" class="layui-nav-img">
            {% endif %}
        </div>
    <div class="layui-input-block">
      <textarea placeholder="请输入内容" class="layui-textarea comment_text"></textarea>
    </div>
            <input type="button" class="layui-btn layui-btn-normal comment-btn" value="发送">
        </form>
    </div>
    <div class="history-comment">
        <ul>
            {% for comment in comments %}
            <li>
                <div class="commentator">
                    <div class="commentator-img">
                        <a href="/account/author/{{ comment.commentator.username }}">
                            <img src="/media/avator/{{ comment.commentator.username }}.jpg" class="layui-nav-img" alt="">
                        </a>
                    </div>
                    <div class="commentator-info">
                        <a href="/account/author/{{ comment.commentator.username }}">{{ comment.commentator.username }}</a>
                        <span>{{ comment.created | date:"Y-m-d H:i:s" }}</span>
                    </div>
                    <div class="comment-wrap">
                        <p>{{ comment.body }}</p>
                    </div>
                    <div class="meta">
                        <a href="" onclick="comment_like({{ comment.id }},'like')" data-anim="layui-anim-scaleSpring"><span><i class="layui-icon layui-icon-praise"></i> <span class="comment-like">赞</span></span></a>
                        <a href="#" onclick="comment_like({{ comment.id }},'unlike')"><span><i class="layui-icon layui-icon-tread"></i> <span class="comment-unlike">踩</span></span></a>
                    </div>
                </div>

            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script src='{% static "js/jquery.js" %}'></script>
<script src='{% static "editor/lib/marked.min.js" %}'></script>
<script src='{% static "editor/lib/prettify.min.js" %}'></script>
<script src='{% static "editor/lib/raphael.min.js" %}'></script>
<script src='{% static "editor/lib/underscore.min.js" %}'></script>
<script src='{% static "editor/lib/sequence-diagram.min.js" %}'></script>
<script src='{% static "editor/lib/flowchart.min.js" %}'></script>
<script src='{% static "editor/lib/jquery.flowchart.min.js" %}'></script>
<script src='{% static "editor/editormd.js" %}'></script>
<script type="text/javascript">
$(function(){
    editormd.markdownToHTML("editormd-view", {
        htmlDecode: "style, script, iframe",
        emoji: true,
        taskList:true,
        tex:true,
        flowChart:true,
        sequenceDiagram : true,
    });

});

function is_like(id, action){
    $.ajax({
        url: "{% url 'article:like_article' %}",
        data: {'id': id,'action':action},
        type: 'POST',
        dataType: 'json',
        success: function(e){
            if(e.static!='500'){
                layer.confirm(e.tips,{
                        btn: ['确定']
                    },function(){
                        window.location.reload();
                    });
            }
        }
    })
}

function comment_like(id, action){
    $.ajax({
        url: "{% url 'article:comment_like' %}",
        type: "POST",
        data: {"id": id, "action": action},
        success: function(e){
            res = JOSN.parse(e);
            if(res.static==200){

            }
        }
    })
}

$('.comment-btn').on('click',function(){
    if($('.username').text()==''){
        layer.msg('请先登录')
    }else{
        var comment = $('.comment_text').val();
        $.ajax({
            url: '{% url "article:article_content" article.id %}',
            type: "POST",
            data: {'comment':comment },
            success: function(e){
                res = JSON.parse(e);
                if(res.static='200'){
                    layer.confirm(res.tips,{
                        btn: ['嗯']
                    },function(){
                        window.location.reload();
                    });
                }
            }
        })
    }
})
</script>
{% endblock %}