{% extends "base.html" %}
{% load staticfiles %}
{% block title %} {{ article.title }} {% endblock %}
{% block content %}

{% with total_likes=article.users_like.count %}
<div class="container">
    <div>
        <header>
            <h1 style="margin:20px 0">{{ article.title }}</h1>
            <p style="padding-left:10px"><a href="{% url 'account:author_info' article.author.username %}">{{ article.author.username }}</a><span style="margin-left:20px">{{ total_likes }} like{{ total_likes|pluralize }}</span><span style="margin-left:20px">{{ total_views }} view{{ total_views|pluralize }}</span></p>
        </header>

        <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}"/>
        <div id='editormd-view'>
        <textarea id="append-test" style="display:none;">
{{ article.body }}
        </textarea>
        </div>
    </div>
    <div style="text-align:center">
        <a href="javascript:void(0);" onclick="is_like({{ article.id }},'like')"><span><i class="layui-icon layui-icon-praise"></i>like</span></a>
        <span style="display:inline-block;width:50px"></span>
        <a href="javascript:void(0);" onclick="is_like({{ article.id }},'unlike')"><span><i class="layui-icon layui-icon-tread"></i>unlike</span></a>
    </div>
    <div class="support-article-users" style="text-align:center">
        {% for user in article.users_like.all %}
        <p><a class="support-user {{ user.username }}" href="{% url 'account:author_info' user.username %}">{{ user.username }}</a></p>
        {% empty %}
        <p class="nobody-support">还没有人对此文表态</p>
        {% endfor %}
        <p><strong>点赞本文的读者</strong></p>
    </div>
    <div class="comment">
        <form action="" method="POST">{% csrf_token %}
        <div class="layui-form-label " style="height:80px">
            {% if request.session.username %}
            <img src="/media/avator/{{ request.session.username }}.jpg" class="layui-nav-img">
            {% else %}
            <img src="/media/avator/1554199539806.jpg" class="layui-nav-img">
            {% endif %}
        </div>
    <div class="layui-input-block">
      <textarea placeholder="请输入内容" class="layui-textarea comment_text"></textarea>
    </div>
            <input type="button" class="layui-btn layui-btn-normal comment-btn" value="发送">
        </form>
    </div>
    <div class="history-comment">
        <ul>
            {% for comment in comments %}
            <li onmouseenter="EnterFunction(this)" onmouseleave="LeaveFunction(this)">
                <div class="commentator">
                    <div class="commentator-img">
                        <a href="/account/author/{{ comment.commentator.username }}">
                            <img src="/media/avator/{{ comment.commentator.username }}.jpg" class="layui-nav-img" alt="">
                        </a>
                    </div>
                    <div class="commentator-info">
                        <a href="/account/author/{{ comment.commentator.username }}">{{ comment.commentator.username }}</a>
                        <span style="margin-left:20px"> {{ comment.created | date:"Y-m-d H:i:s" }}</span>
                        <span style="margin-left:20px"> 人气值: <span class="support-comment">{{ comment.comment_like.count }}</span></span>
                    </div>
                    <div class="comment-wrap">
                        <p>{{ comment.body }}</p>
                    </div>
                    <div class="meta">
                        <a href="javascript:void(0)" onclick="comment_like({{ comment.id }},'like',this)"><span><i class="layui-icon layui-icon-praise"></i> <span class="comment-like">赞</span></span></a>
                        <a href="javascript:void(0)" onclick="comment_like({{ comment.id }},'unlike',this)"><span><i class="layui-icon layui-icon-tread"></i> <span class="comment-unlike">踩</span></span></a>
                        {% if request.user.username == comment.commentator.username %}
                        <a href="javascript:void(0)" onclick="comment_delete({{ comment.id }}, this)" class="comment-tool comment-delete">删 除</a>
                        {% else %}
                        <a href="javascript:void(0)" onclick="comment_report()" class="comment-tool comment-report">举 报</a>
                        {% endif %}
                    </div>
                </div>

            </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script src='{% static "js/jquery.js" %}'></script>
<script src='{% static "editor/lib/marked.min.js" %}'></script>
<script src='{% static "editor/lib/prettify.min.js" %}'></script>
<script src='{% static "editor/lib/raphael.min.js" %}'></script>
<script src='{% static "editor/lib/underscore.min.js" %}'></script>
<script src='{% static "editor/lib/sequence-diagram.min.js" %}'></script>
<script src='{% static "editor/lib/flowchart.min.js" %}'></script>
<script src='{% static "editor/lib/jquery.flowchart.min.js" %}'></script>
<script src='{% static "editor/editormd.js" %}'></script>
<script type="text/javascript">
$(function(){
    editormd.markdownToHTML("editormd-view", {
        htmlDecode: "style, script, iframe",
        emoji: true,
        taskList:true,
        tex:true,
        flowChart:true,
        sequenceDiagram : true,
    });

});

function EnterFunction(e){
    $(e).find('.comment-tool').css('display','block');
}

function LeaveFunction(e){
    $(e).find('.comment-tool').css('display','none');
}

function comment_delete(id, e){
    if($('.username').val()==''){
        layer.msg('请先登录')
    }else{
        layer.confirm('确定要删除该评论?',{
            btn: ['确定', '取消']
        },function(){
            $.ajax({
                url: "{% url 'article:comment_delete' %}",
                method: "POST",
                data: {'id':id},
                dataType: 'json',
                success: function(res){
                    if(res.static=='201'){
                        dom = $(e).parent().parent().parent();
                        dom.remove();
                        layer.msg(res.tips,{icon:1})
                    }else if(res.static=='502'){
                        layer.msg(res.tips,{icon:2})
                    }else{
                        layer.msg(res.tips)
                    }
                }
            })
        })
    }
}

function comment_report(){
    layer.msg('敬请期待吧，忙得很')
}

function is_like(id, action){
    onuser = $('.username').val();
    if(onuser==''){
        layer.msg('请先登录')
    }else{
        $.ajax({
            url: "{% url 'article:like_article' %}",
            data: {'id': id,'action':action},
            type: 'POST',
            dataType: 'json',
            success: function(e){
                if(e.static=='200'){
                    layer.msg(e.tips,{time:1500});
                }else if(e.static=='201'){
                    layer.msg(e.tips,{time:1500});
                    $('.support-article-users').prepend('<p><a class="'+e.user+'" href="/account/author/'+onuser+'">'+e.user+'</a></p>');
                    $('.nobody-support').css('display','none');
                }else if(e.static=='202'){
                    layer.msg(e.tips,{time:1500});
                    $('.'+e.user).remove();
                    if($('.support-user').length==0){
                        $('.nobody-support').css('display','block');
                    }
                }else{
                    layer.msg(e.tips,{time:1500});
                }
            }
        })
    }
}

function comment_like(id, action, n){
    if($('.username').val()==''){
        layer.msg('请先登录')
    }else{
        dom = $(n).parent().parent().find(".support-comment");
        $.ajax({
            url: "{% url 'article:comment_like' %}",
            type: "POST",
            dataType: "json",
            data: {"id": id, "action": action},
            success: function(res){
                console.log(res)
                if(res.static=='200'){
                    dom.text(res.support_num);
                    layer.msg('感谢点赞');
                }else if(res.static == '201'){
                    dom.text(res.support_num)
                }else{
                    layer.msg(res.tips);
                }
            }
        })
    }
}

$('.comment-btn').on('click',function(){
    if($('.username').val()==''){
        layer.msg('请先登录')
    }else{
        var comment = $('.comment_text').val();
        $.ajax({
            url: '{% url "article:article_content" article.id %}',
            type: "POST",
            data: {'comment':comment },
            success: function(e){
                $('.comment_text').val('');
                res = JSON.parse(e);
                if(res.code==200){
                    console.log(res);
                    commentator = res.comment_info;
                    prepend_li='<li onmouseenter="EnterFunction(this)" onmouseleave="LeaveFunction(this)">'+
                '<div class="commentator">'+
                    '<div class="commentator-img">'+
                        '<a href="/account/author/'+commentator.commentator+'">'+
                            '<img src="/media/avator/'+commentator.commentator+'.jpg" class="layui-nav-img" alt="">'+
                        '</a>'+
                    '</div>'+
                    '<div class="commentator-info">'+
                        '<a href="/account/author/'+commentator.commentator+'">'+commentator.commentator+'</a>'+
                        '<span style="margin-left:20px">'+commentator.created+'</span>'+
                        '<span style="margin-left:20px"> 人气值: <span class="support-comment">0</span></span>'+
                    '</div>'+
                    '<div class="comment-wrap">'+
                        '<p>'+commentator.body+'</p>'+
                    '</div>'+
                    '<div class="meta">'+
                        '<a href="javascript:void(0)" onclick="comment_like('+commentator.id+',\'like\',this)"><span><i class="layui-icon layui-icon-praise"></i> <span class="comment-like">赞</span></span></a>'+
                        '<a href="javascript:void(0)" onclick="comment_like('+commentator.id+',\'unlike\',this)"><span><i class="layui-icon layui-icon-tread"></i> <span class="comment-unlike">踩</span></span></a>'+
                        '<a href="javascript:void(0)" onclick="comment_delete('+ commentator.id +', this)" class="comment-tool comment-delete">删 除</a>'+
                    '</div>'+
                '</div>'+
            '</li>'

                    $('.history-comment ul').prepend(prepend_li);
                }else{
                    layer.msg(res.tips);
                }
            }
        })
    }
})
</script>
{% endwith %}
{% endblock %}