{% extends "base.html" %}
{% load staticfiles %}
{% block title %}articles list{% endblock %}
{% block content %}

<div class="container" style="margin:20px 60px 0 60px">
    <div>
        <header>
            <h1>{{ article.title }}</h1>
            <p>{{ article.author.username }}</p>
        </header>

        <link rel="stylesheet" href="{% static 'editor/css/editormd.preview.css' %}"/>
        <div id='editormd-view'>
        <textarea id="append-test" style="display:none;">
{{ article.body }}
        </textarea>
        </div>
    </div>
    <div style="text-align:center">
        <a href="#" onclick="is_like({{ article.id }},'like')"><span><i class="layui-icon layui-icon-praise"></i>like</span></a>
        <span style="display:inline-block;width:50px"></span>
        <a href="#" onclick="is_like({{ article.id }},'unlike')"><span><i class="layui-icon layui-icon-tread"></i>unlike</span></a>
    </div>
    <div style="text-align:center">
        <p><strong>点赞本文的读者</strong></p>
        {% for user in article.users_like.all %}
        <p>{{ user.username }}</p>
        {% empty %}
        <p>还没有人对此文表态</p>
        {% endfor %}
    </div>
</div>

<script src='{% static "js/jquery.js" %}'></script>
<script src='{% static "editor/lib/marked.min.js" %}'></script>
<script src='{% static "editor/lib/prettify.min.js" %}'></script>
<script src='{% static "editor/lib/raphael.min.js" %}'></script>
<script src='{% static "editor/lib/underscore.min.js" %}'></script>
<script src='{% static "editor/lib/sequence-diagram.min.js" %}'></script>
<script src='{% static "editor/lib/flowchart.min.js" %}'></script>
<script src='{% static "editor/lib/jquery.flowchart.min.js" %}'></script>
<script src='{% static "editor/editormd.js" %}'></script>
<script type="text/javascript">
$(function(){
    editormd.markdownToHTML("editormd-view", {
        htmlDecode: "style, script, iframe",
        emoji: true,
        taskList:true,
        tex:true,
        flowChart:true,
        sequenceDiagram : true,
    });
});

function is_like(id, action){
    $.ajax({
        url: "{% url 'article:like_article' %}",
        data: {'id': id,'action':action},
        type: 'POST',
        dataType: 'json',
        success: function(e){
            layer.msg(e.tips);
            window.location.reload();
        }
    })
}
</script>
{% endblock %}